<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>website</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://use.fontawesome.com/5ee69e6b7c.js"></script>
	<style>
		#slider1 {

			height: 583px;
			background-color: lightgrey;
		}
	</style>
</head>
<body>
<%- include homecomman.ejs %>
<%- include homecommanfooter.ejs %>	
<div class="header">
	<div class="container-fluid" id="middle">
		<div class="row">
			<div id="slider1" class="col-lg-2 col-sm-2">
					
					
			</div>
			<div id="main" class="col-lg-8 col-sm-8">
				<div class="row">
					<div class="col-lg-6 col-sm-6"></div>
					<div class="col-lg-6 col-sm-6">
						<p style="color: black; margin-top: 60px;">
						Address: 204, PLOT NO. 175, SECTOR 20, ULWE, Navi Mumbai, 
						<br>
						Maharashtra 410206
						<br>
						Hours: Open today · 9AM–6PM
						<br>
						Phone: 090046 80164
						</p>
					</div>
				</div>
				
				
			</div>
			<div id="slider2" class="col-lg-2 col-sm-2"></div>
		</div>
	</div>
</div>
<!-- end of middle section -->


	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.js"></script>
</body>
</html>