<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="" method="post" name="formname" onsubmit="return validation();">
		<input type="text" name="email">
		<p id="error"></p>
		<input type="submit">
	</form>
	<script src="../public/js/examplevalidation.js"></script>
</body>
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id unde aliquid atque, itaque odio, sapiente nisi ad obcaecati non natus vel deleniti eius ut nam consectetur neque blanditiis quos cupiditate.
</html>