	<!-- NAVIGATON -->
<div id="myNavbar" class="navbar navbar-default navbar-fixed-top" role="navigation"><!-- start header section -->
	<div class="container">
		<div class="navbar-header">
			<button style="    background: #00adff;" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavs">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		 			<div id="but" class="sli">
                            <a style="margin-left:-60px;" type="button" id="sidebarCollapse" class="btn btn-info navbar-btn sli">
                                <i class="fa fa-tags" aria-hidden="true"></i>
                               
                            </a>
                        </div>

                        <div class="brand"> 
                        <a id="brand" href="/" class="navbar-brand"><img style="width:200px; height:40px; margin-left: -39px;" src="/images/logo.jpg"></a>
                        </div>
		</div>
		<div class="navbar-collapse collapse" id="mynavs">
			<ul class="nav navbar-nav navbar-right">

				<li><form action="" style="margin-top: -20px; border: none; padding: 0px; ">
					<a style="height: 0px;">
					<div class="input-group" style=" width: 300px; margin-top: 27px;">
                  <input type="text" class="form-control" placeholder="Electronics & Mechanical, Foods & Services, Computer..." id="search" name="search" value="">
                   <div class="input-group-btn">
                  <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                  </div>
        			</div>
				   </a>
				   </form>
				</li>
				<li><a>
					<span style="color:crimson;" class="glyphicon glyphicon-envelope"></span> freeads@shrivansh.com</a>
				</li>
				<li>
				    <a href="/addnewads"><span class="blink"> add new ads </span></a>
				</li>
			    <% if (userdata.USERNAME != undefined) { %>
				<li><a href=""><span class="glyphicon glyphicon-user"></span> <span><%=userdata.USERNAME%></span></a></li>
				<% } %>	
				<li><%
				var usericon ='';
				var loginStatus = '';
				var loginLink = '';
		if (userdata.USERNAME != undefined) {
			loginStatus = 'Logout'	;
			loginLink = '/userlogout';
			usericon = 'glyphicon-log-out';
			
		} else  {
			loginStatus = 'Login';
			loginLink = '/userlogin';
			usericon = '';
		} 

		%>

		<a href="<%=loginLink%>"><%=loginStatus%> <span class=" glyphicon <%= usericon%>"></span></a></li>

		
			</ul>

		</div>
	</div>
	
</div><!-- end of header section -->
