<link rel="stylesheet" href="/css/style.css">
<div id="myFooter" class="navbar navbar-default navbar-fixed-bottom" role="navigation"><!-- start footer section -->
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myfooternavs">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

		</div>
		<div class="navbar-collapse collapse" id="myfooternavs">
			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="">About Us</a></li>
				<li><a href="/contactus">Contact Us</a></li>
				<div class="social">
					<a id="follow">Follow us on:</a>
					<a href="https://www.facebook.com/" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook" style="font-size: 20px; color: #3B5998; "></i></a>
					<a href="https://twitter.com/" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter" style="font-size: 20px; color: #0084b4;"></i></a>
					<a href="https://www.youtube.com/" data-toggle="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube-play" style="font-size: 20px; color: #cc181e;"></i></a>
					<a href="https://plus.google.com/discover" data-toggle="tooltip" data-placement="bottom" title="Google+"><i class="fa fa-google-plus" style="font-size: 20px; color: #db4437;"></i></a>
					</div>    
			</ul>

		</div>	
	</div>
	<div class="footer-copyright text-center">
        <div class="container-fluid">
            © 2017 Copyright: <a id="Copyright" href="http://localhost:3000/"> FreeAds.com </a>
        </div>
    </div>
</div><!-- end of footer section -->