
<div class="nav navbar-default">
<a href="/admin/state" class="navbar-brand"  style="font-size: 30px;">MY ADMIN
<span style="margin-left: 855px; font-size: 23px;"><span class="glyphicon glyphicon-user"></span> <%=userdata.ADMINUSER%></span></a>
<div class="navbar-header">
	
</div>
		<ul style="line-height: 28px; margin-top: 5px;" class="nav nav-tabs nav-justified">
			<li><a href="/admin/state">STATE</a></li>
			<li><a href="/admin/city">CITY</a></li>
			<li><a href="/admin/category">CATEGORY</a></li>
			<li><a href="/admin/locality">LOCALITY</a></li>
			<li><a href="/admin/users">USERS</a></li>
			<li><a href="/admin/ads">ADS</a></li>
		</ul>
</div>


