<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Registration</title>
	<link rel="stylesheet" href="../public/css/bootstrap.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<form action="" style="border: 1px solid lightgrey; padding: 10px 15px; margin-top: 80px; border-radius: 5px;">
					<h3>Create Account</h3>
					<br>
					<strong>Your name</strong>
					<input type="text" name="email" class="form-control">
					<br>
					<strong>Mobile number</strong>
					<input type="text" name="mob" class="form-control">
					<br>
					<strong>Email address (Optional)</strong>  
					<!-- <input style="width: 76px;" type="number" class="form-control"> -->
					<select style="width: 90px;" name="" id="" class="form-control">
						<option value="IN +91">IN +91</option>
					</select>
					<input style="width: 234px; margin-left: 93px; margin-top: -34px;" type="text" name="email" class="form-control" placeholder="Mobile number">
					<br>
					<strong>Password</strong>
					<input type="text" name="pass" class="form-control" placeholder="At least 6 characters">
					<br>
					<small><h5>We will send you a text to verify your Phone.Message and Data rates may apply.
					</h5></small>
					<br>
					<input style="width: 328px;" type="submit" value="Continue" class="btn btn-warning">
				</form>
			</div>
			<div class="col-sm-4"></div>
		</div>
	</div>
<script src="../public/js/jquery.js"></script>	
<script src="../public/js/bootstrap.js"></script>	
</body>
</html>