<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Loing</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
<style>
hr{ 
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}	
</style>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-sm-4"></div>
		<div class="col-sm-4"><a href="/"><img style="height: 50px; width: 180px; margin-left: 88px; margin-top: 8px;" src="
			/images/logo.png" alt=""></a>
			<form action="/"  role="form" data-toggle="validator" name="formname" method="post" onsubmit="return validation();" style="border: 1px solid lightgrey; padding: 10px 15px; border-radius: 5px; margin-top: 22px;" >
				<h3>Login</h3>
				<br>
				 <label for="inputEmail" class="control-label">Email or mobile phone number</label>
				<input type="text" name="email" class="form-control" id=email" placeholder="Please enter your Email Address">
				<p id="error" style="color: red;"></p>
				<br>
				<div class="row">
					<div class="col-sm-2 col-xs-2">
						 <label class="control-label">Password</label>
					</div>
					<div class="col-sm-5 col-xs-4"></div>
					<div class="col-sm-5 col-xs-6">
						 <label for="inputName">
						 	<a href="">Forgot Password</a>
						 </label>
					</div>
				</div>
				<input type="password" name="pass" class="form-control" id="pass" placeholder="Enter your Password">
				<p id="error1" style="color: red;"></p>
				<br><br>
				<input type="submit" value="Login" class="btn btn-warning form-control">
				<br><br>
				<input type="checkbox"> Keep me signed in.
				<br><br>
				<div class="divider">
					<h5 style="margin-left:100px;
                               margin-bottom: -15px;">New to Freeads?
                     </h5><hr>
				</div>
				<br><br>
				<a href="/registration" style="
				  background-color: lightgray;" type="button" class="btn btn-default form-control">Create your Freeads account
				</a>
			</form>
		</div>
		<div class="col-sm-4"></div>
	</div>
</div>
<script src="/js/jquery.js"></script>	
<script src="/js/bootstrap.js"></script>
<script src="/js/uservalidation.js"></script>

</body>
</html>