i{padding: 5px; margin-top: 4px; color: #fff;}
.navbar-default{    background: none;
					border: none;}

.my_menu .navbar-nav .active a, .my_menu .navbar-nav .active a:hover{background-color: green; color: #fff; border-radius: 6px; border:1px solid white;}
.my_menu{  padding: 1px;}

.my_menu .navbar-nav li a:hover{background-color: grey; color: #fff; border-radius: 6px;}


#foot{
	background-color: #b0bcd5;
}


#mynavs1 ul li a 
{
 color: black
}
#mynavs1 ul li a:hover{

	color: red;
}

#fafa:hover{
	background-color:;

}

.login{
	font-size: 22px;
}

.right{
	font-size: 22px;
}

a{
	text-decoration:none;
}


.hvr {
    position: relative;
    display: inline-block;
}


.hvr-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.hvr:hover .hvr-content {   
    display: block;
}

.slide1 {
   height:100%;width:80%;
   font:16px/26px Georgia, Garamond, Serif;overflow:scroll;"

}
.col-sm-8{
    margin-left: 195px;
    margin-top: 45px;
    margin-bottom: 50px;
    
}

#aleft{
    position: fixed;    
}
#aright{
    position: fixed;   
}


@media (min-width: 100px){
  #left {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 107%;
    overflow-y: scroll; 
  }

#left {
  background-color: ;
  text-align: center;
}


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: grey}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}