/* navigatoin */
.navbar {

	background-color: #222222 !important;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-weight: 700;
}

.navbar a {

	color: #fff !important;
	opacity: 0.9;
}

.navbar a:hover {

	opacity: 1;
	background-color: #111111!important;
}

.navbar-brand {

	font-family: Comic Sans MS;
	font-size: 45px;
	text-transform:  capitalize;
}

#slide1 {

	background-color: lightgrey;
	height: 5000px;
	/* position: fixed; */

}

#slide2 {

	background-color: lightgrey;
	height: 5000px;
	/* position: fixed;
	    margin-left: 1072px; */
}

/*#main{
	margin-left: 210px;
}
*/

#follow {
	text-decoration: none;
}

.social {

	margin-left: 871px;
    margin-top: 12px;
}
.social i {

	padding: 5px;
}

#middle {
		
    margin-bottom: 55px;
}

#stacked {

	margin-top: 55px;
}

ul li a {

	border-radius: 6px;
}

#Copyright
{

	color: #fff;
}

.ImgData {
	
	margin-top: 60px;
}

.img-thumbnail {
	
	height: 150px;
}

#ListData {

	margin-top: 60px;
}

@media(max-width: 768px) {

	.social {

	margin-left: 15px;
	}
	
	.img-thumbnail{

		margin-top: -50px ;
		height: 223px;
	}

	#ListData{

		margin-top: 16px;
	}

	.btn-xs{

		margin-top: -10px;
	}

	#website {

		margin-top: -10px;	
	}

	#form {

		padding: 7px;
    padding-left: 25px;
	}

}

@media(max-width: 768px){

	#query:hover{

    -webkit-max-logical-width: 280px;
    }

}

#stacked:hover > .dropdown-content {

	display: block;
}

.dropdown-content 
{

	display: none;
}

#query:hover {

    width: 460px;
    /* background-color: lightpink; */
}

.blink {

    animation:1s blinker linear infinite;
    -webkit-animation:1s blinker linear infinite;
    -moz-animation:1s blinker linear infinite;

     color: white;
     font-size: 16px;
    }

    @-moz-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @-webkit-keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

    @keyframes blinker {  
     0% { opacity: 1.0; }
     50% { opacity: 0.0; }
     100% { opacity: 1.0; }
     }

form {

	border:solid 1px black; 
	padding: 15px;

}